.hud {
  position: absolute;
  bottom: 0;
  right: 0;

  background: rgba(200, 200, 200, 0.25);
  backdrop-filter: blur(16px);
  border-top: rgba(200, 200, 200, 0.8) solid 1px;
  border-left: rgba(200, 200, 200, 0.8) solid 1px;
  color: rgb(240, 240, 240);

  width: 16vw;
  min-width: 120px;
  height: 6vw;
  min-height: 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
