.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-button {
  position: absolute;
  top: 8vmin;
  right: 8vmin;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}
